@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@1,200&family=Roboto&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');


body {
    background-image: url(../images/heaven-501350.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 100%;
}

#guessnum ,button{
    border: 3px solid #000;
    border-radius: 5px; 
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.main button {
    font-family: "Roboto", sans-serif;
    padding: 8px 30px 8px 30px;
    margin: 5px;
    border-radius: 18px;
    font-size: 18px;
    background-color: blueviolet;
    color: white;
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
}

#gueesnum{
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 8px;
    font-size: 13px;
    background-color: rgb(236, 236, 236);
}

main input{
    outline: none;
    position: absolute;
    top: 35%;
    border-radius: 15px;
    /* border-radius: 10px;
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 5px; */
    ;
}

.main h1{
    font-family: "Playwrite GB S", cursive;
    font-weight: 800;
    font-size: 35px;
}

button{
    width: 15rem;
    padding: 12px 20px;
    border-radius: 10px;
    background-color: #ccc;
    font-size: 20px;
    border-style: none;
}


